body {
  /* background-color: #8e9aaf; */
  background-image: linear-gradient(180deg, #f6f4f8, #feeafa);
  color: #020d13;
}

header {
  margin: 50px;
  text-align: center;
  background-color: #feeafa;
  color: #677791;
  border-radius: 3px;
  border: 8px ridge #dee2ff;
  padding: 5px;
  box-shadow: 4px 4px 10px 5px #677791;
}
header h1 {
  color: #937ca4;
  text-shadow: 1px 1px 1px #677791;
}
#networklinks {
  color: #677791;
  font-size: smaller;
  margin: 0;
}
#networklinks a {
  color: #677791;
}

main {
  margin: 30px;
  display: flex;
  gap: 50px;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.application {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
  border: 5px ridge #dee2ff;
  border-radius: 5px;
  width: 40vw;
  height: 50vh;
  text-align: center;
  box-shadow: 3px 3px 10px 0px #677791;
  margin: 20px;
  background-color: #dee2ff;
}

section iframe {
  border: 0;
  border-bottom: 5px ridge #dee2ff;
  margin-right: 10px;
  width: 100%;
  height: 100%;
}

.page-description {
  margin: 10px;

  height: fit-content;
  font-size: large;
}
.pagelink,
.repolink {
  position: relative;
  margin: 0 10px 10px 0;
  bottom: -2px;
  color: #020d13;
  border-radius: 5px;
  padding: 3px;
}
.undeployed {
  border: 5px ridge #dee2ff;
  margin: 10px 10px 10px 10px;
  background-color: #dee2ff;
}
.undeployed a {
  color: #020d13;
  margin: 0 0 0 10px;
}
